<table id="index_table_flight_seat" class="index_table index" paginator="true" border="0" cellpadding="0" cellspacing="0">
	<thead>
	  <tr>
	  	<th class="sortable col col-pnr"><a href="">Sr. No</a></th>
	  	<th class="sortable col col-pnr"><a href="">Status</a></th>
	    <th class="sortable col col-pnr"><a href="">PNR</a></th>
	    <th class="sortable col col-row_number"><a href="">Row Number</a>
	    </th>
	    <th class="col col-seat_type">Seat Category</th>
	    <th class="col col-seat_number">Seat Number</th>
	    <th class="col col-seat_type">Seat Type</th>
	  </tr>
	</thead>
	<tbody>
		<% if seats.present? %>
			<% seats.each_with_index do |seat,i| %>
			  <tr class="odd" id="public_coupon_8">
			  	<td class="col col-pnr"><%= i+1%></td>
			  	<td class="col col-pnr"><%= seat.get_seat_status(flight)%> </td>
			    <td class="col col-pnr"><%= seat.pnr%></td>
			    <td class="col col-row_number"><%= seat.row_number%></td>
			    <td class="col col-seat_type"><%= seat.flight_seat_configuration.flight_configuration.seat_category.name%></td>
			    <td class="col col-seat_number"><%= seat.seat_number%></td>
			    <td class="col col-seat_type"><%= seat.seat_type%></td>
			   
			  </tr>
			<% end %>
		<% else %>
			<tr>
            	<td colspan='3'>No Record Found</td>
        	</tr>
		<% end %>
	</tbody>
</table>