
	


<table class="table">
  <thead>
    <tr>
      <th scope="col">Flight Name</th>
      <th scope="col">Departure</th>
      <th scope="col">Arrival</th>
      <th scope="col">Duration</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  	<%@flights.each do |flight|%>
    <tr>
      
      <td><%=flight.flight.name%></td>
      <td><%=flight.departure_time.strftime("%I:%M%p") %> <br><%=flight.source.city%></td>
      <td>
      	<%=flight.arrival_time.strftime("%I:%M%p") %><br><%=flight.destination.city%>
      </td>
      <td><%= get_duration(flight.travel_time.to_i)%></td>
      <td><%= get_price(@seat_category)%></td>
       <td><%=link_to "Book Now",add_passenger_flight_path(flight,seat_type: @seat_type)%></td>
      <!-- <td><%#=link_to "Book Ticket",book_ticket_flight_path(flight,seat_type: @seat_type)%></td> -->
    </tr>
    <%end%>
  </tbody>
</table>