<div id="seatmap">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"><h2><%=@seat_category.name%><h2></div>
      <div class="col-md-4"></div>
    </div>
    <div id="plane">
        <table class="rows">
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
        </table>
        
        <div id="cabin">        
            <table>
              <% @flight_seats.each_slice(@seat).with_index do |flight_seats, i| %>
              <tr>
                <% flight_seats.each do |flight_seat| %>
                <%data = check_availability(@flight,flight_seat)%>
                <%if data == "Available"%>
                  <td title="<%=data%>" class="seatAvailable" seat_type="<%=flight_seat.seat_type%>" seat_id="<%=flight_seat.id%>"><input type="checkbox" name="" class="available checkbox"></td>
                  <%else%>
                  <%if @seat_id.to_i == flight_seat.id%>
                  <td title="Your Seat" class="your_seat" seat_type="<%=flight_seat.seat_type%>" seat_id="<%=flight_seat.id%>"></td>
                  <%else%>
                  <td title="<%=data%>" class="seatUnavailable" seat_type="<%=flight_seat.seat_type%>" seat_id="<%=flight_seat.id%>"></td>
                  <%end%>                  
                  <%end%>
                <%end%>              
              </tr>
              <%end%>

            </table>            
        </div>
        <div style="clear: both;"></div>
    </div>

  <div class="row">
    <div class="col-md-4 form-group">
      <input type="hidden" name="" id="changed_seat_number">
    </div>
    <div class="col-md-8 form-group"><h2><button class="btn btn-primary update_seat_btn">Change your seat</button><h2></div>

  </div>

<div id="card-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">        
        <h4 class="modal-title">Account Details</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3 form-group">
            <label>Card Number</label> 
            <input type="text" name="" class="form-control card_number">           
          </div>
          <div class="col-md-3 form-group">
            <label>Card Holder Name</label>  
            <input type="text" name="" class="form-control card_holder_name">           
          </div>
          <div class="col-md-3 form-group">
            <label>Previous Paid amount</label>    
            <input type="text" name="" class="form-control" disabled="" value="<%=@amount%>">         
          </div>
          <form action="<%=update_seat_flight_path(@flight)%>" method="get" class="update_form">
          <div class="col-md-3 form-group">
            <label>Extra Amount to Pay</label> 
            <input type="hidden" name="prev_seat" class="prev_seat"> 
            <input type="hidden" name="changable" class="changable"> 
            <input type="hidden" name="pay_amount" value="<%=@payble_amount%>"> 
            <input type="hidden" name="passenger" value="<%=@passenger.id%>">   
            <input type="text" name="" class="form-control" disabled="" value="<%=@payble_amount%>">
          </div>
          <form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
        <button type="button" class="btn btn-default pay_and_book">Pay & Book</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
document.onkeydown = function(e) {
if(event.keyCode == 123) {
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
return false;
}
}

</script>

<style type="text/css">
tr { display: block; float: left; }
th, td { display: block; position: relative;}

input[type="radio"], input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    left: 0;
    margin: 0;
}

.your_seat {
  background-color: #00ffff;
}
table {
    width: 100%;
    display:block;
}
td{
      margin: 10px;
}
thead {
    display: inline-flex;
    width: 100%;
    height: 20px;
}
tbody {
    height: 200px;
    display: inline-flex;
    width: 100%;
    overflow: auto;
}

  body {
    font-family: Arial; 
    font-size: 11px;
}

.booking_selection{
  background-color: blue !important;
}
#seatmap { 
    position: relative; 
}
#seatmap table {
    border-collapse: separate;
    border-spacing: 3px;
}


#plane {
  height: auto;
  background: #fff;
  border: solid 1px #aaa;
  border-radius: 80px 0 0 80px;
  z-index: 1;
}
    #plane .rows {
        width: 30px;
        float: left;  
        empty-cells: show;
        margin-top: 8px;
        margin-left: 30px;
    }
        #plane .rows td { 
            height: 16px; 
            text-align: right;
        }

#cabin { 
    background-color: #dedede; 
    border: none;
    border-left: double 3px #999;
    width: 94.5% !important;
    height: auto; 
    padding: 5px;
    float: left;
    margin-left: 0px;
}

#cabin td { width: 15px; height: 15px; border: solid 1px #666; border-radius: 7px 0 0 7px; text-align: center; cursor: pointer; }
    #cabin td.row              { background-color: transparent; border: none; font-weight: bold; padding-right: 7px; }
    #cabin td.seatAvailable    { background-color: #01B213; color: #fff; }
    #cabin td.seatUnavailable  { background-color: #aaa !important; color: #ddd !important; }
    #cabin td.ExtraPay         { background-color: navy; color: #fff !important; }
    #cabin td.LargeSeat        { width: 23px; }
    #cabin td.noSeatGalley     { background-color: transparent; border: none; width: 10px; height: 10px;  }
    #cabin td.noSeatStorage    { background-color: #aaa; }
    #cabin td.noSeatLavatory   { background-color: #aaa; }

#cabin tr:first-child td.wingSeat { border-top: solid 2px #333; }
#cabin tr:last-child td.wingSeat { border-bottom: solid 2px #333; }
</style>

<script type="text/javascript">
  $(".checkbox").click(function(){
    if($(this).is(":checked")){
      seat = $(this).parent().attr('seat_id')
      $("#changed_seat_number").val(seat)
      $(".booking_selection").removeClass('booking_selection')
      $(this).parent().addClass('booking_selection')
    }else{
      console.log("un checked")
      $(this).parent().removeClass('booking_selection')
    }
  })

  $(".update_seat_btn").click(function(){
    changable = $("#changed_seat_number").val()
    if (changable != "") {
      $("#card-modal").modal("show")
    }
    else{
      alert("please select your seat to update")
    }
  })
  $(".pay_and_book").click(function(){
   card_number =  $(".card_number").val()
   card_holder_name =  $(".card_holder_name").val()
   if(card_number==""){
    alert("please enter your card number")
   }
   if(card_holder_name==""){
    alert("please enter your card number")
   }
   if(card_holder_name!="" && card_number!=""){
    prev_seat = $(".your_seat").attr('seat_id')
    changable = $("#changed_seat_number").val()
    $(".prev_seat").val(prev_seat)
     $(".changable").val(changable) 
     $(".update_form").submit()

   }

  })
</script>

