<!DOCTYPE html>
<html lang="en" >


  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">     
    <title>Airportsystem</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %> 
 
</head>

  <body >
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Airportsystem</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          
           <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "New Booking",root_path  %></li>
            <li><%= link_to "PNR Deatils", get_pnr_detail_flights_path%></li>
            <%unless user_signed_in?%>
            <li><%= link_to "Login",new_user_session_path  %></li>
            <li><%= link_to "Registration", new_user_registration_path%></li>
            <%else%>          
            <li><%= link_to "My Booking", bookings_path  %></li>
            <li><%= link_to "Logout",destroy_user_session_path , method: :delete%></li>
          
          <%end%>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
    	<%= yield %>       
    </div>
  </body>
</html>
